<section>
    <table>
            <tr>
                <th align="left">HP</th>
                <td><input name="system.HP.bonus" type="text" value="{{system.HP.bonus}}" system-dtype="Number"/></td>
                <td>{{system.HP.value}}</td>
                <td>[{{system.HP.points}}]</td>
            </tr>
            <tr>
                <th align="left">FP</th>
                <td><input name="system.FP.bonus" type="text" value="{{system.FP.bonus}}" system-dtype="Number"/></td>
                <td>{{system.FP.value}}</td>
                <td>[{{system.FP.points}}]</td>
            </tr>
            <tr>
                <th align="left">Move</th>
                <td><input name="system.Move.bonus" type="text" value="{{system.Move.bonus}}" system-dtype="Number"/></td>
                <td>{{system.Move.value}}</td>
                <td>[{{system.Move.points}}]</td>
            </tr>
            <tr>
                <th align="left">Dodge</th>
                <td><input name="system.Dodge.bonus" type="text" value="{{system.Dodge.bonus}}" system-dtype="Number"/></td>
                <td>{{system.Dodge.value}}</td>
                <td>[{{system.Dodge.points}}]</td>
            </tr>
            <tr>
                <th align="left">Lift ST</th>
                <td><input name="system.LST.bonus" type="text" value="{{system.LST.bonus}}" system-dtype="Number"/></td>
                <td>{{system.LST.value}}</td>
                <td>[{{system.LST.points}}]</td>
            </tr>
            <tr>
                <th align="left">Str ST</th>
                <td><input name="system.SST.bonus" type="text" value="{{system.SST.bonus}}" system-dtype="Number"/></td>
                <td>{{system.SST.value}}</td>
                <td>[{{system.SST.points}}]</td>
            </tr>
            <tr>
                <th align="left">Hum</th>
                <td><input name="system.Hum.bonus" type="text" value="{{system.Hum.bonus}}" system-dtype="Number"/></td>
                <td>/ {{system.Hum.max}}</td>
            </tr>
            <tr>
                <th align="left">Thrust</th>
                <td><input name="system.thrust" type="text" value="{{system.thrust}}" system-dtype="text"/></td>
            </tr>
            <tr>
                <th align="left">Swing</th>
                <td><input name="system.swing" type="text" value="{{system.swing}}" system-dtype="text"/></td>
            </tr>
    </table>
</section>