<section>
    <table class="mAttr">
            <tr>
                <th align="left">ST</th>
                <td><input name="system.ST.value" type="text" value="{{system.ST.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">DX</th>
                <td><input name="system.DX.value" type="text" value="{{system.DX.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">RF</th>
                <td><input name="system.RF.value" type="text" value="{{system.RF.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">AW</th>
                <td><input name="system.AW.value" type="text" value="{{system.AW.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">CH</th>
                <td><input name="system.CH.value" type="text" value="{{system.CH.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">IQ</th>
                <td><input name="system.IQ.value" type="text" value="{{system.IQ.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">TC</th>
                <td><input name="system.TC.value" type="text" value="{{system.TC.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">WL</th>
                <td><input name="system.WL.value" type="text" value="{{system.WL.value}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">ED</th>
                <td><input name="system.ED.value" type="text" value="{{system.ED.value}}" system-dtype="Number"/></td>
            </tr>
    </table>
</section>