<section>
    <table>
            <tr>
                <th align="left">HP</th>
                <td><input name="system.HP" type="text" value="{{system.HP}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">FP</th>
                <td><input name="system.FP" type="text" value="{{system.FP}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Move</th>
                <td><input name="system.Move" type="text" value="{{system.Move}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Dodge</th>
                <td><input name="system.Dodge" type="text" value="{{system.Dodge}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Lift ST</th>
                <td><input name="system.LST" type="text" value="{{system.LST}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Str ST</th>
                <td><input name="system.SST" type="text" value="{{system.SST}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Hum</th>
                <td><input name="system.Hum" type="text" value="{{system.Hum}}" system-dtype="Number"/></td>
            </tr>
            <tr>
                <th align="left">Thrust</th>
                <td><input name="system.thrust" type="text" value="{{system.thrust}}" system-dtype="text"/></td>
            </tr>
            <tr>
                <th align="left">Swing</th>
                <td><input name="system.swing" type="text" value="{{system.swing}}" system-dtype="text"/></td>
            </tr>
    </table>
</section>